<div class="toy-card">
    <%= image_tag("teddy.jpg", alt: "toy-image", class: "toy-image") %>
    <div class="toy-card--body">
        <div class="heading">
            <div class="info">
                <%= image_tag("sample.jpg", alt: "user-avatar", class: "user-avatar") %>
                <div class="info-text">
                    <div class="toy-name"><%= locals[:toy_name] %></div>
                    <div class="user-username"><%= locals[:username] %></div>
                </div>
            </div>
            <div>
                <span class="material-icons">keyboard_arrow_up</span>
            </div>
        </div>  
        <p class="description">
            <%= locals[:description] %>
        </p>
        <div class="mdc-touch-target-wrapper">
            <button class="mdc-button mdc-button--raised button-dark">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">View</span>
                <span class="mdc-button__touch"></span>
            </button>
        </div>
            
    </div>
</div>  

