<!DOCTYPE html>
<html>
  <head>
    <title>ToysApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'pages/home', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    
  </head>

  <body>
    <%= render 'components/header', :locals => {:header_title => "Home", :user => get_username} %>
    <main>
      <%= yield %>
    </main>
  

    <%= render 'scripts/mdc-buttons' %>
  </body>

  
</html>
